.map {
    &-content {
      &-area {
        //   background-color: var(--medium);
        margin: 15px;
       display: grid;
       grid-gap: 15px;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: repeat(5, 100px);
       grid-template-areas: 
       'Entryway    LivingRoom Bathroom  MasterBath'
       'Kitchen     LivingRoom Hallway   Master'
       'Kitchen     LivingRoom Spare     Master'
       'DiningRoom  LivingRoom Spare     Master'
       'DiningRoom  LivingRoom Spare     Master';
       
      }
    }
  }


  @media only screen and (max-width: 1200px) {
    .map {
        &-content {
          &-area {
            
          } 
          }
      }
  }