.room {
    background-color: var(--medium);
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition-duration: 1s;
    
    &-title{
        text-transform: capitalize;
        padding: 10px;   
    }
}