@import './normalize.css';

:root {
  --dark: rgb(36, 36, 36);
  --medium: #b1b1b1;
  --light: #e0e0e0;
  --yellow: #bce784;
  --blue: rgb(53, 175, 216);
}

body {
  background-color: var(--dark) !important;
}
